body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 20px 20px 60px;
    max-width: 680px;
    margin: 0 auto;
}

.container {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 70px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 35px;
    box-shadow: 5px 5px 15px grey;
}

.title, .result, .result-people, .total, .total-people {
    text-align: center;
}

.title {
    margin-bottom: 40px;
}

.result, .total {
    margin-top: 40px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.price-input, .service-input, .people-input, .calculate-button {
    padding: 8px;
    border: 0.5px solid darkslategray;
    border-radius: 6px;
    font-size: 16px;
}

.price-input:focus, .service-input:focus, .people-input:focus, .calculate-button:focus {
    outline: none;
    border: 3px solid rgb(77, 105, 136);
}

.calculate-button {
    background-color: rgb(238,174,202);
    border: 1px solid black;
    padding: 15px;
    font-size: 21px;
    font-weight: 600;
}

.calculate-button:hover {
    background-color:rgb(156, 120, 190);
}

.calculate-button:active {
    transform: scale(0.97)
}